  <div class="text-center">
    <%=
    form_with(url: password_resets_path, scope: :password_reset, local: true) do |f| %>
    <p>パスワードを忘れましたか？</p>

    <%= f.email_field :email, class: "form-control text-field", placeholder: "Eメールアドレス"%>

    <%= f.submit "パスワードの再設定方法を送信する", class: "btn btn-lg btn-primary"%>
    <% end %>
  </div>
