<h1>Make-typing App</h1>

<p><%= @user.email %>様</p>

<p>
以下のリンクをクリックし、メールアドレスの確認手続きを完了させてください。
</p>

<%= link_to edit_account_activation_url(@user.activation_token),
            edit_account_activation_url(@user.activation_token, email: @user.email) %>
