<div id="timer"></div>

<div id="cahracters">
  <span id="typed"></span><span id="untyped"></span>
</div>

<input name="text_json" type="hidden" value='<%= @text_json %>' id='text_json'>


<%= stylesheet_pack_tag 'stylesheets/type'%>
<%= javascript_pack_tag 'type/index' %>
