<div id="cahracters">
  <span id="typed"></span><span id="untyped"></span>
</div>

<input name="text_json" type="hidden" value='<%= @text_json %>' id='text_json'>



<%= javascript_pack_tag 'type/index' %>
