<div class="nested-fields">
  <div class="input-group mb-3">
    <%= f.text_field :sentence, class: 'form-control', placeholder: 'テキスト' %>

    <%= link_to_remove_association "削除", f, class: 'btn btn-secondary' %>
  </div>
</div>
