<% @title.each do |title|%>
  <ul>
    <li>
      <%= link_to title.title, types_path(title_id: title.id),        controller: 'types', action: 'index' %>
    </li>
  </ul>
  <%= link_to '編集', edit_title_path(title.id) %>
  <%= link_to '削除', title_path(title.id), method: :delete,            data:{confirm: "「#{title.title}」を削除しますか？"} %>
<% end %>


