<div class="row mt-5">
<% @title.each do |title|%>
  <div class="col-6 mb-5">
    <%= link_to title.title, types_path(title_id: title.id), controller: 'types', action: 'index' %>
  </div>
<% end %>
</div>


