<h1 class="main">ホーム画面<h1>

<div class="box">
  <p class="box2"><%= link_to 'ノーマルモード', '#' %></p>
  <p class="box2"><%= link_to 'フリーモード', type_path %></p>
  <p class="box2"><%= link_to '新規作成', '#' %></p>
  <p class="box2"><%= link_to '設定', '#' %></p>
</div>
