<footer class="footer mt-4 py-3 bg-light fixed-bottom">
  <nav>
    <div class="d-flex justify-content-around">
      <p><%= link_to "利用規約", '#', class: "text-reset footer-link" %></p>
      <p><%= link_to "プライバシー", '#', class: "text-reset footer-link" %></p>
      <p><%= link_to "お問い合わせ", new_contacts_path, class: "text-reset footer-link" %></p>
    </div>
  </nav>
</footer>
